@{
    ViewData["Title"] = "Add Task";
}

<!--import model-->

@model SevenHabits.Models.TaskForm

<!--Title of page-->

<h1>@ViewData["Title"]</h1>
<br />

<!--Image of quadrants with examples-->
<div class="text-center">
    <img src="~/img/matrix.jpg" height="400" />
</div>


<!--Form to add task-->
<form method="post">

    <!--output any errors-->
    <div asp-validation-summary="All"></div>

    <label>Task</label>
    <input type="text" id="Task" asp-for="Task" />
    <br />

    <label>Due Date</label>
    <input type="date" id="DueDate" asp-for="DueDate" />
    <br />

    <label>Quadrant</label>
    <select id="Quadrant" asp-for="Quadrant">
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
    </select>
    <br />

    <label>Category: </label>
    <select asp-for="CategoryID">
        <option value="">--Select a Category--</option>
        @foreach (Category c in ViewBag.Categories)
        {
            <option value=@c.CategoryID>@c.CategoryName</option>
        }
    </select>
    <br />

    <label>Completed</label>
    <select id="Completed" asp-for="Completed">
        <option value=true>Yes</option>
        <option value=false selected>No</option>
    </select>
    <br />


    <!--Submit button-->
    <button type="submit" class="btn btn-primary">Submit Task</button>
    <br /><br /><br />

</form>

