@{
    ViewData["Title"] = "Add Task";
}

@model SevenHabits.Models.TaskForm

<h1>@ViewData["Title"]</h1>
<br />
<form method="post">

    <div asp-validation-summary="All"></div>

    <label>Task</label>
    <input type="text" id="Task" asp-for="Task" />
    <br />
    <label>Due Date</label>
    <input type="date" id="DueDate" asp-for="DueDate" />
    <br />
    <label>Quadrant</label>
    <input type="text" id="Quadrant" asp-for="Quadrant" />
    <br />
    <label>Category: </label>
    <select asp-for="CategoryID">
        <option value="">--Select a Category--</option>
        @foreach (Category c in ViewBag.Cats)
        {
            <option value=@c.CategoryID>@c.CategoryName</option>
        }
    </select>
    <br />
    <label>Completed</label>
    <select id="Completed" asp-for="Completed">
        <option value=true>Yes</option>
        <option value=false>No</option>
    </select>
</form>

