@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the </h1>
    <h1 class="display-4"> "Putting First Things First" </h1>
    <h1 class="display-4">to do list!</h1>
</div>
<p>In the book “The 7 Habits of Highly Effective People”, Steven Covey talks about the habit of
    “Putting First Things First”, and suggests that Tasks on the To Do list be broken out into four
    Quadrants.
</p>

<img src="~/img/matrix.jpg" height="400" />

