@{
    ViewData["Title"] = "Home Page";
}

@*Brief intro to website*@
<div class="text-center">
    <h1 class="display-4">Welcome to the </h1>
    <h1 class="display-4"> "Putting First Things First" </h1>
    <h1 class="display-4">to do list!</h1>
</div>
<p>
    In the book “The 7 Habits of Highly Effective People”, Steven Covey talks about the habit of
    “Putting First Things First”,and suggests that Tasks on the To Do list be broken out into four Quadrants.
</p>

@*buttons to add task or view all tasks*@
<div class="text-center">
    <a asp-controller="Home" asp-action="AddTask" class="btn btn-primary">Add A Task</a>
    <a asp-controller="Home" asp-action="Quadrants" class="btn btn-primary">View All Tasks</a>
</div>

@*image of quadrants*@
<div class="text-center">
    <img src="~/img/matrix.jpg" height="400" />
</div>

